body {
    background-color: hsl(0, 0%, 100%);
    font-family: "Times New Roman";
}

h2 {
    color: #000000;
    font-size: 50px;
}

h1 {
    color: black;
    font-size: 100px;
}

h3 {
    font-size: 50px;
}

p {
    font-size: 25px;
}
