body {
    background-color: hsl(0, 0%, 100%);
    font-family: "Times New Roman";
}

h2 {
    animation: water 3s infinite;
    font-size: 50px;
}

@keyframes water {
    0%{color:blue}
    25%{color:aqua}
    50%{color:cyan}
    75%{color:aqua}
    100%{color:blue}
}

@keyframes pulse { 
    0%{transform: scale(1)}
    50%{transform: scale(1,2)}
    100%{transform: scale(1)}
}


h1:hover {
    animation: water 3s infinite, pulse 5s infinite;
}

h1 {
    font-size: 100px;
}

h3 {
    animation: water 3s infinite;
    font-size: 50px;
}

h4 {
    font-size: 10px;
}

p {
    font-size: 25px;
    
}

